@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,300;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.container {
  min-height: 100vh;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TYPOGRAPHY */
.hero-content h1 {
  margin-top: 0;
  margin-bottom: 0.4em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 0.3em;
}

.hero-content p {
  margin-bottom: 2.5em;
  line-height: 1.8em;
  font-family: "Roboto", sans-serif;
  font: 300;
  font-size: 1.8rem;
  letter-spacing: 0.3em;
}

/* NAV */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 2000px;
  margin: 0 auto;
}

.nav-item {
  margin: 0 1.5em;
}

.navbar-toggler {
  margin-left: 2em;
}

/* HERO */
.hero-content {
  margin: 0 auto;
  width: 70%;
  position: relative;
  height: 100vh;
  background-color: white;
}

.hero-text {
  width: 80%;
}

.hero-image {
  background-image: url(images/hero-banner.png);
  background-size: cover;
  width: 35%;
  height: 100vh;
}

/* maple leaf */
.fa-canadian-maple-leaf {
  color: red;
}

/* BUTTON */
.button {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2remhh;
  background-color: #f11010;
  color: white;
  padding: 1em 2.5em;
  border-radius: 1em;
  letter-spacing: 0.3em;
}

@media (max-width: 1045px) {
  .leaf {
    max-width: 40px;
    max-height: 40px;
  }

  .hero-text h1 {
    font-size: 3.2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text a {
    font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  .nav-wrapper {
    display: block;
    margin-left: 2em;
    width: 100%;
  }
}

@media (max-width: 830px) {
  .hero-image {
    display: none;
  }

  .hero-content {
    width: 100%;
  }

  .hero-text {
    margin-left: 0;
    width: 80%;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 545px) {
  .hero-text {
    margin-left: 0;
    text-align: center;
  }
}
